.admin {
  border: 1px solid gray;
  background-color: black;
  color: gold;
}
.parent {
  display: flex;
  justify-content: space-evenly;
  font-size: larger;

  border: 1px;
}
.parent-p {
  display: flex;
  color: gold;
  align-items: center;
  border: 1px solid;
  padding: 10px;
  margin: 12px 12px;
  height: 75px;
  justify-content: space-between;
  font-weight: bold;
  /* display: flex;
  flex: 4;
  
  align-items: center;
  border: 1px solid;
  padding: 1px;
  margin: 12px 12px;
  font-size: xx-large;
  max-width: 300px; 
  border: 1px solid gray; 
  height: auto;*/
}
.img {
  width: 6%;
  height: auto;
  margin-bottom: 10px;

  padding-top: 5px;

  /*display: flex;
  max-width: 300px;
  border: 1px solid gray; 
  height: auto;
  justify-content: space-evenly;*/
}
.products {
  flex: 3;
  color: black;
  min-height: 100px;
}
.coupons {
  flex: 2;
  min-height: 100px;
}
.admin section {
  color: black;
  border: 2px solid gray;
  border-radius: 6px;
}
.admin .btn {
  color: black;
  background-color: gold;
  border: 3px solid gray;
}
.add {
  border: 2px solid gray;
  background-color: gold;
}
.item {
  display: flex;
  color: gold;
  align-items: center;
  border: 1px solid;
  padding: 10px;
  margin: 12px 12px;
  height: 50px;
  justify-content: space-between;
  font-weight: bold;
  justify-content: space-evenly;
}
.form-label {
  color: black;
  align-items: center;
  font-size: x-large;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
.field {
  color: black;
}
