.admin {
  color: gold;
  background-color: black;
  border: 1px solid gray;
}
.parent {
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;
}
.products {
  flex: 3;
  min-height: 100px;
}
.coupons {
  flex: 2;
  min-height: 100px;
}
.admin section {
  border: 3px solid gray;
  border-radius: 6px;
}
.admin .btn {
  color: black;
  background-color: gold;
  border: 3px solid gray;
}
.form-control {
  border: 3px solid gray;
}
