.cart {
  padding-top: 10px;
}
.cart h1 {
  text-align: center;
  color: blue;
}
.cart .parent {
  display: flex;
}
.cart .prods {
  flex: 4;
}
.cart .side {
  flex: 1;
}
.cart .prod-cart {
  display: flex;
  align-items: center;
  border: 1px solid;
  padding: 10px;
  margin: 12px 12px;
}
.cart .prod-cart div {
  flex: 4;
  text-align: left;
  padding-left: 10px;
}
.cart .prod-cart label {
  flex: 1;
}
.cart .prod-cart img {
  height: 65px;
}
.cart .discount-form {
  padding: 0.05px;
}

/* .cart {
  padding-top: 10px;
}
.cart h1 {
  text-align: center;
  color: blue;
}
.cart .parent {
  display: flex;
}
.cart .prods {
  flex: 4;
}
.cart .side {
  flex: 1;
}
.cart .prod-cart {
  display: flex;
  align-items: center;
  border: 1px solid;
  padding: 10px;
  margin: 12px 12px;
}
.cart .prod-cart div {
  flex: 4;
  text-align: left;
  padding-left: 10px;
}
.cart .prod-cart label {
  flex: 1;
}
.cart .prod-cart img {
  height: 65px;
}
.cart .discount-form {
  padding: 0.05px;
} */
