.home {
  min-height: 400px;
  background-color: black;
}
.home h3 {
  color: gold;
}
.home h1 {
  color: gold;
}

.img-home {
  width: 20%;
  height: auto;
  margin-bottom: 10px;
  border: 5px solid gold;
}
