.footer {
  padding: 300px;
  font-size: larger;
  font-weight: bold;
  color: gold;
  font-family: "Times New Roman", Times, serif;
  background-image: url(/public/logo/hatfooter.jpg);
  background-size: cover;
  border: 4px solid gray;
}
