.navbar {
  height: 300px;
  padding: 200px;

  font-size: larger;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  background-image: url(/public/logo/jacketnavbar.jpg);
  background-size: cover;
  border: 2px solid gray;
}
.navbar p {
  margin: 0 40px;
}
.nav {
  display: flex;
  padding: 0px;
}
.container-fluid {
  justify-content: space-evenly;
  font-family: "Times New Roman", Times, serif;
  color: white;
  padding: 20px;
  align-items: start;
}
/* navbar.css */
.cart-b {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.cart-b button {
  margin-right: 30px; /* Adjust the margin value as needed */
}
.nav-link {
  border: solid white;
}
