/* product.css */

/* product.css */

.product {
  display: inline-block; /* Added to display as inline-block */
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px;
  text-align: center;
  max-width: 300px;
  color: gold;
}

.product img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product h5 {
  font-size: x-large;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 5px;
  font-size: 16px;
}

.product button {
  display: inline-flexbox;
  background-color: gold;
  color: black;
  border-radius: 30%;
  padding: 8px;
  font-size: 9px;
  font: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product button:hover {
  background-color: red;
}
.label {
  display: flex;
}
.add {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
